
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Teacher Home</title>
</head>
<body>
    <%-include("./partials/header")%>
    <a class="btn btn-blue ml-1000" href="/teacherAdd">Add +</a>
        <!-- <a class="btn btn-end btn-blue" href="/teacherAdd">Add Record</a> -->
        
        <div class="ml-270 mt-44">
        <strong>Total Student</strong>
        <br>
        <br>
        <table class="ml-10">
            <thead>
                <tr>
                    <th>Roll No.</th>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Score</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                    <tr>
                        <td></td>   
                    </tr>
                </tbody>
            </thead>
        </table>
    </div>
    
</body>
</html>