<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>My Result App</title>
</head>
<body>
    <%-include("./partials/header")%>
    <div class="button-area">
            <br>
            <br>
            <br>
            <b>Login As</b>
            <br>
            <br>
            <!-- <input class="btn btn-blue" type="button" value="Teacher">
            <input class="btn btn-blue" type="button" value="Student"> -->
            
            <a class="btn btn-blue" href="/api/students/allStudent">Teacher</a>
            <a class="btn btn-blue" href="/studentHome">Student</a>
    </div>

    

</body>
</html>